.feedWrapper {
    background-color: #f1f3f5;
    width: 100%; /* 정렬하려는 요소의 넓이를 반드시 지정 */
    margin: 0 auto;
}

.feedContentBox {
    border: 2px solid lightgray;
    margin-bottom: 10px;
}

.feedHeader {
    display: flex;
    justify-content: space-between;
    background-color: #FFDD33;
}

.headerLeft {
    display: flex;
}

.feedInteraction {
    display: flex;
    justify-content: space-between;
}

.feedInteractionDetail {
    display: flex;
}

.profileImageCircle {
    width: 20px;
    height: 20px;
    border-radius: 30%;
    overflow: hidden;
    /*깎고 넘치는 부분을 안보이게 하기*/
}

.profileImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedImage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.createdDate{
    font-size: 0.7rem;
}

@media screen and (min-width:1024px) {
    .feedWrapper {
        background-color: white;
        width: 400px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
        margin: 0 auto;
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
    .feedWrapper {
        background-color: white;
        width: 400px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
        margin: 0 auto;
    }
}